* {
	font-family: system-ui;
}
text {
	font-size: 30px;
	font-weight: 900;
	text-anchor: middle;
	dominant-baseline: middle;
}

.controls {
	margin: 0 auto;
	width: min-content;
}

label {
	display: block;
	margin-block-end: 1em;
	font-size: 1.4em;
}

input {
	font-size: 1em;
	padding: .5em;
	border: .2em solid;
	border-radius: .5em;
	text-align: center;
	margin-block-start: .2em;
}

#info {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 200px;
	text-align: left;
}